
<style>
body{
 font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif; 
}
.wrapper{
  width: 90%;
  max-width:90%;
}
</style>
<header class="site-header">

  <div class="wrapper">

    <span style="display:inline-block;padding:5px;padding-left:10px; color: #C8C9C7;font-size:36px;">@</span> <a href='http://dbbs.wustl.edu/faculty/Pages/faculty_bio.aspx?SID=6646'><img src="/img/washu-logo2.png" style="width:200px;padding:5px 10px;padding-left:0" /></a>

    <a class="site-title" style="font-size:40px;" href="{{ site.baseurl }}/">{{ site.title }}</a> 

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        <!--a class="page-link" href="http://blog.timrpeterson.com">Blog</a-->
        <a class="page-link" href="mailto:timrpeterson@wustl.edu?subject=Interested%20in%20Peterson%20Lab%20@%20WashU&body=Hey%20Tim,%20Please%20see%20my%20resume%20attached!%20I’m%20interested%20in%20working%20in%20your%20lab.%20Let%20me%20know%20if%20you%20need%20anything%20else%20from%20me.%20Thank%20you." style="border-radius:4px;background:#990000;padding:9px;color: #D9D9D6;">JOIN</a>
        <a class="page-link" 
        href="http://lab.timrpeterson.com/presentations">Presentations</a>

        <a class="page-link" 
        href="http://lab.timrpeterson.com/people">People</a>

        <!--a class="page-link" 
        href="http://lab.timrpeterson.com/about">About</a-->
        

        {% for page in site.pages %}
          {% if page.title %}
          {% if page.url != "/404.html" %}
          <!--a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a-->
            {% endif %}
          {% endif %}
        {% endfor %}



      </div>
    </nav>

  </div>

</header>
